/* Reset basic styles */
body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Global styles */
body {
    font-size: 16px;
    line-height: 1.5;  
  
  }
  
  /* Header */
header {
    display: flex: ;
    background-color:#86B404 ;
    padding: 10px;
    
    
  }
  
  /* Navigation */
nav {
    background-color: #a69fcf;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav ul {
    list-style: none;
    display: flex;
  }
  
nav li {
    margin-right:   30px;
    margin: 15px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 90px;
  }
  
nav a {
    text-decoration: none;
    color:   
   #e41010;
  }
  
  /* Main content */
main {
    padding: 100px;
  }
  
  /* Aside */
aside {
    background-color: #ec0909;
    padding: 30px;
  }

  /*formulario noticias*/
aside form input{/*configuracao do formulario*/
    display: flex;
    flex-wrap: 1 1 200;   
    flex-direction: column;
    width: 250px;
    color: white;
    font-size: 2       
}

form input{/*configura caixas formulario*/
    display: flex;
    margin-top: 10px;
    border: 4px solid black;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    font-size: 25px;
    color: white;
}

form input:hover{/*muda a cor nas caixas do formulario*/
    display: flex;
    background-color: rgb(29, 155, 138);
    color: white;
    cursor: pointer;
}

aside form input[type="submit"]{/*configura botao enviar*/
    display: flex;
    height: 50px;
    width: 150px;
    background-color: #e00e0e;
    color: white;
    font-weight: bold;
}

iframe{
    display: flex;
    padding: 100px;
}
  
  /* Footer */
footer {
    background-color: #333;
    color: #0cca15;
    padding: 20px;
    text-align: center;
  }
  
  /* Responsive design */
@media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
nav li {
      margin-bottom: 10px;
    }
  }

@media (max-width: 768px) {
    img {
      width: 100%;
    }
  }

  img {
    max-width: 100%;
  }